<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="cover">
        <h1>Assignment</h1>
        <h2>{{ subject }}</h2>
    </div>
    <section class="extra-info">
        <p>
            <b>Submitted to:</b>
        </p>
        <p>{{faculty}}</p>
        <br/>
        <p>
            <b>Submitted by:</b>
        </p>
        <p>
            {{name}}
            <br/>
            Roll No:{{rollno}}
            <br/>
            S{{semester}} {{branch}}
        </p>
    </section>
</body>
</html>